# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: disable-active-workflows

on: workflow_dispatch

env:
  GH_TOKEN: ${{ github.token }}

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-html pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Unit test with pytest (pytest-html)
        run: |
          pytest -v --html=reports/index.html
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload unit test artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Coverage test with pytest (pytest-cov)
        run: |
          pytest -v --cov=src tests/ --cov-report term-missing > coverage_report.txt
          #pytest -v --cov=src tests/ --cov-report html:cov_html
      - name: Upload coverage test artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage_report.txt